{{!< default}}
<header id="blog-header"{{#if @blog.cover_image}} class="has-cover"{{/if}}>
	<div class="inner">
		<h1 class="blog-name">
			<a href="{{@blog.url}}">
				<div class="big stackable logo">
					<span>David</span>
					<span>Morales</span>
					<span>Cortés</span>
				</div>
			</a>
		</h1>
		{{#if @blog.description}}
		<span class="blog-description">{{@blog.description}}</span>
		{{/if}}
		{{#if @blog.cover_image}}
		<div class="blog-cover cover" style="background-image: linear-gradient(rgba(0, 61, 91, 0.9) 0%, rgba(0, 61, 91, 0.9) 100%), url('{{img_url @blog.cover_image}}');"></div>
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>